<div id='banner5'></div>
<div id='banner4'></div>
<div id='banner3'></div>
<div id='banner2'></div>
<div id='banner1'></div>
<div id='logo'><h1>Tatetí</h1></div>

<button id='new'><h1>NEW GAME</h1></button>

<button class='btn' id='main'>main</button>
<div class='btn' id='by' onclick="openInNewTab('https://github.com/RomeroCarranzaEmiliano/TicTacToeLink');">emiliano romero carranza</div>