<div id='banner5'></div>
<div id='banner4'></div>
<div id='banner3'></div>
<div id='banner2'></div>
<div id='banner1'></div>
<div id='logo'><h1>Tatetí</h1></div>



<div id='board'>
	<input class='c' id='a0' readonly='readonly'>
	<input class='c' id='a1' readonly='readonly'>
	<input class='c' id='a2' readonly='readonly'><br>
	<input class='c' id='b0' readonly='readonly'>
	<input class='c' id='b1' readonly='readonly'>
	<input class='c' id='b2' readonly='readonly'><br>
	<input class='c' id='c0' readonly='readonly'>
	<input class='c' id='c1' readonly='readonly'>
	<input class='c' id='c2' readonly='readonly'>
</div>
<div id='score'>
	<input id='score_me' value='ME: ' readonly='readonly'>
	<input id='score_vs' value='OTHER: ' readonly='readonly'>
</div>


<input id='match' value='<%= match %>' type='hidden'>
<input id='me'  type='hidden'>
<input id='vs'  type='hidden'>
<button id='play'>start</button>

<div id='name_me'><h1>Me</h1></div>
<div id='time_me'>
	<div id='time_me_fill'></div>
</div>


<div id='name_vs'><h1>Other</h1></div>
<div id='time_vs'>
	<div id='time_vs_fill'></div>
</div>


<button class='btn' id='main'>main</button>
<div class='btn' id='by' onclick="openInNewTab('https://github.com/RomeroCarranzaEmiliano/TicTacToeLink');">emiliano romero carranza</div>